<h1>{{ 'navbar.title' | translate }}</h1>

<nav>
  <a routerLink="/home">{{ 'navbar.home' | translate }}</a> |
  <a *ngIf="!isLoggedIn" routerLink="/login">{{ 'navbar.login' | translate }}</a> |
  <a *ngIf="!isLoggedIn" routerLink="/register">{{ 'navbar.register' | translate }}</a> |

  <a *ngIf="isLoggedIn" routerLink="/profile">{{ 'navbar.profile' | translate }}</a> |
  <a *ngIf="isLoggedIn && isCompany()" routerLink="/company">{{ 'navbar.companySpace' | translate }}</a> |
  <a *ngIf="isLoggedIn && isAdmin()" routerLink="/admin">{{ 'navbar.admin' | translate }}</a> |

  <a *ngIf="isLoggedIn" routerLink="/programs">{{ 'navbar.programs' | translate }}</a> |
  <a *ngIf="isLoggedIn" routerLink="/challenge/semaine">{{ 'navbar.challenge' | translate }}</a> |
  <a *ngIf="isLoggedIn" routerLink="/classement">{{ 'navbar.ranking' | translate }}</a> |
  <a *ngIf="isLoggedIn" routerLink="/notifications">{{ 'navbar.notifications' | translate }}</a> |

  <a *ngIf="isLoggedIn" (click)="logout()" style="cursor:pointer">
    {{ 'navbar.logout' | translate }}
  </a>

  <!-- Sélecteur de langue -->
  <span style="margin-left:1rem;">
    <app-language-selector></app-language-selector>
  </span>
</nav>

<hr />
