<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom shadow-sm px-3">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" routerLink="/home">🧪 BugBounty</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link" routerLink="/login">Connexion</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link" routerLink="/register">Inscription</a>
        </li>

        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" routerLink="/profile">Profil</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn && isCompany()">
          <a class="nav-link" routerLink="/company">Espace entreprise</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn && isAdmin()">
          <a class="nav-link" routerLink="/admin">Admin</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" routerLink="/programs">Programmes</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" routerLink="/challenge/semaine">Défi de la semaine 🏆</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" routerLink="/classement">Classement</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" routerLink="/notifications">Notifications</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link text-danger" style="cursor: pointer" (click)="logout()">Déconnexion</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
